<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/search" method="GET">
      <input type="text" name="product_name" id="product_name" />
      <input type="submit" value="Search" />
    </form>
    <table>
      <div>Hello, {{ name }}</div>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Price</th>
          <th>Description</th>
          <th>Review</th>
        </tr>
      </thead>
      <tbody>
        {% for product, review in products %}
        <tr>
          <td>{{ product.product_id }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.description }}</td>
          <td>{{ review.review }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
