{% extends 'base.html' %} {% block content %}
<main>
  <h2>Welcome to Assignment Week 2</h2>
  <p>
    In this assignment, you will learn how to create a simple web application
    using Flask and SQLAlchemy. You will learn how to create a database, define
    models, create routes, and render templates.
  </p>
  <img
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Flask_logo.svg/1200px-Flask_logo.svg.png"
    alt="Flask logo"
    style="width: 800px; margin-top: 40px"
  />
</main>
{% endblock content %}
